header {
    height: var(--footer-h);
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 100;
}
.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 1rem !important;
    height: 100%;
}
ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

@media (max-width: 450px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul {
      
    }
    #logo {
        display: none;
    }
  }