<header>
  <mat-toolbar class="header">
    <span>
      <a [routerLink]="['/dashboard']">
        Lash Revolution
      </a>
    </span>
    <ul>
      <li>
        <a [routerLink]="['/dashboard']">
          <button mat-button>

           Dashboard
          </button>
        </a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/new-notification']">
          <button mat-button>

            Schedule New
          </button>
        </a>
      </li>
      <li>
        <button mat-button (click)="logout()"> Logout</button>
      </li>
    </ul>
  </mat-toolbar>
</header>