.status {
    width: 20px;
    height: 20px;
    background-color: #ee204d;
    display: block;
    border-radius: 50%;
    /* margin: 0 auto; */
}

.overflow-container {
    overflow: scroll;
    max-width: 90vw;
    max-height: 50vh;
}
.sent {
    background-color: #1cac78
}