.dashboard-section {
    margin-top: 1rem;
}
.filter {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.client-name:hover {
    cursor: pointer;
}
#icon-margin {
    margin: 0 .5rem;
}

.pointer:hover {
    cursor: pointer;
}
.disabled {
    color: rgb(214, 214, 214);
    cursor: not-allowed;
}
.overflow-container {
    overflow: auto;
    max-width: 90vw;
    max-height: 50vh;
    scrollbar-width: thin;
    scrollbar-color: #e0e0e0;
}

.custom-table tr {
    background-color: #f5f5f5;
    border-radius: 1rem !important;
}

.mat-mdc-paginator {
    margin-top: .5rem;
    border-radius: 0.25rem;
}
.mat-mdc-paginator-container, .mat-mdc-paginator-outer-container, .mat-mdc-paginator{
    background-color: #f5f5f5 
}

@media (max-width: 450px) {
    
    .hide-mobile > td {
        display: hidden;
    }
    td{
        width: 30%;
    }
    table {
        width: 100%;
    }

}
