<div class="dashboard-section">
  <h2 style="
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    ">
    <span>Previous Clients </span><fa-icon [icon]="faUsers" style="color: #4d4d4d"></fa-icon>
  </h2>
  <div class="filter">
    <mat-icon>sort_by_alpha</mat-icon>
    <form>
      <mat-form-field style="min-width: 300px; width: 30vw">
        <mat-label>Seach By Name</mat-label>
        <input matInput [formControl]="searchTerm" />
      </mat-form-field>
    </form>
  </div>
  <ng-template [ngIf]="!isLoading" [ngIfElse]="loading">
    <div class="overflow-container">
    <table  mat-table [dataSource]="(clientList$|async)!" *ngIf="(clientListLength$ | async)! > 0; else noClient">

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['client', element.id]" class="client-name">{{element.firstName}} {{element.lastName}}</td>
      </ng-container>


      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element?.phone || '-' }}</td>
      </ng-container>


      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element?.email || '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="LastSeen">
        <th mat-header-cell *matHeaderCellDef>Visited</th>
        <td mat-cell *matCellDef="let element" [matTooltip]="toDaysCount(element?.lastSeen)">{{ (element?.lastSeen | date: 'short') || 'No visits' }}</td>
      </ng-container>

      <ng-container matColumnDef="Schedule">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <span class='pointer' [matTooltip]="element.optIn ? 'New Notification' : 'User has unsubscribed'">
              <fa-icon *ngIf="element.optIn" [icon]="faClock" style="color: #4d4d4d" size="xl"  [routerLink]="['new-notification', element.id]"></fa-icon>
              
                <fa-icon *ngIf="!element.optIn" [icon]="faX" style="color: #fd2323" size="xl" ></fa-icon>
            </span>
            <span id="icon-margin"></span>

            <span  class='pointer' matTooltip="Edit">
            <fa-icon [icon]="faPen" style="color: #4d4d4d" size="xl" [routerLink]="['client', element.id]"></fa-icon>
            </span>
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  </ng-template>
  <ng-template #loading>
    <div style="width: 100%; display: flex; justify-content: center; padding: 2rem;"> <mat-spinner></mat-spinner></div>
  </ng-template>
  <mat-paginator style="max-width: 90vw;" [length]="(clientListLength$ | async)!" [pageSize]="10" [showFirstLastButtons]="true" [pageSizeOptions]="[100, 20, 10, 5]"
    aria-label="Select page of Employees search results"
    aria-label="Select page of Employees search results"></mat-paginator>

  <ng-template #noClient>
    <h4 style="text-align: center">No Clients</h4>
  </ng-template>
</div>