.filter {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.client-name:hover {
    cursor: pointer;
}
#icon-margin {
    margin: 0 .5rem;
}

.pointer:hover {
    cursor: pointer;
}
.disabled {
    color: rgb(214, 214, 214);
    cursor: not-allowed;
}
@media (max-width: 450px) {
    .hide-mobile > td {
        display: hidden;
    }
    td{
        width: 30%;
    }
    table {
        width: 100%;
    }

}
