.form-container {
    margin: 1rem .5rem 1rem .5 !important;
    padding-top: 1rem 
}
.client-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin: 20px auto;
    gap: 5vh;
    flex-wrap: wrap;
}
.client-form > section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.input-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.submit {
    flex-direction: column !important;
    max-width: 50%;
    justify-content: center;
    align-items: center;
}
.input-field {
   width: 45%;
}



@media (max-width: 820px) {
    .input-field {
        width: 100%;
     }

    
  }
@media (max-width: 426px) {
    .client-form > section {
        flex-direction: column;
        align-items: center;
    }

    .notification-methods {
        width: 100%;
    }
  }