<div class="scheduler-container">
    <div>
        <h1 style="text-align: center;">
            Scheduler
        </h1>
        <form class="schedule-form" [formGroup]="scheduleFormGroup" (ngSubmit)="onSubmit()">
            <section>
                <header>
                    <h1>
                        Client Information
                    </h1>
                </header>
                <div class="input-div">
                    <mat-form-field class="input-field">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput placeholder="John" formControlName="firstName">
                        <mat-error *ngIf="scheduleFormGroup.get('firstName')?.status">
                            Please enter a valid First Name
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput placeholder="Doe" formControlName="lastName">
                        <mat-error *ngIf="scheduleFormGroup.get('lastName')?.status">
                            Please enter a valid last name
                        </mat-error>
                    </mat-form-field>
                </div>
            </section>
            <section>
                <header>
                    <h1>
                        Contact Information
                    </h1>
                </header>
                <div class="input-div">
                    <mat-form-field class="input-field">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput placeholder="example@gmail.com" formControlName="email">
                        <mat-error *ngIf="!scheduleFormGroup.get('phoneNumber')?.status">
                            Please enter a valid email address or Phone Number
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <mat-label>Telephone</mat-label>
                        <span matPrefix>+1 &nbsp;</span>
                        <input type="tel" matInput placeholder="+1555 5555 555" formControlName="phoneNumber">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-error *ngIf="!scheduleFormGroup.get('email')?.status">
                            Please enter a valid email address or Phone Number
                        </mat-error>
                    </mat-form-field>
                </div>
            </section>
            <section>
                <header>
                    <h1>
                        Notification Setup
                    </h1>
                </header>
                <div class="input-div">
                    <mat-form-field class="input-field">
                        <mat-label>Send In N Days</mat-label>
                        <input type="number" matInput placeholder="1" formControlName="numberOfDays" min="1" max="15">

                        <mat-error *ngIf="scheduleFormGroup.get('numberOfDays')?.status">
                            Enter a value between 1 and 15 Days
                        </mat-error>
                    </mat-form-field>
                    <div class="notification-methods">
                        <mat-checkbox formControlName="deliverByPhone" >Phone</mat-checkbox>
                        <mat-checkbox formControlName="deliverByEmail" >Email</mat-checkbox>
                    </div>
                </div>
            </section>

            <div class="input-div submit">
                <button mat-raised-button color="primary" [disabled]="!scheduleFormGroup.valid || !(scheduleFormGroup.get('deliverByPhone')?.value  || scheduleFormGroup.get('deliverByEmail')?.value)">Create
                    Notification
                    Schedule
                </button>

            </div>


        </form>
    </div>
    <!-- <div style="width: 100%; display: flex; justify-content: center; min-height: 100%;">
        <iframe style="height: 100%;"
            src="https://docs.google.com/forms/d/e/1FAIpQLSf6RjTY77HhT8-eun8ANsgn73vUwE-b88VgrmNOJsyxGxPT-g/viewform?embedded=true"
         frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div> -->
</div>