.scheduler-container {
    margin: 1rem .5rem var(--footer-h) .5 !important
}
.schedule-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin: 20px auto;
    gap: 5vh;
}
.schedule-form > section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.input-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.submit {
    flex-direction: column !important;
    max-width: 50%;
    justify-content: center;
    align-items: center;
}
.input-field {
   width: 30%;
}

.notification-methods {
    display: flex;
    justify-content: space-between;
    width: 30%;

}
@media (max-width: 426px) {
    .schedule-form > section {
        flex-direction: column;
        align-items: center;
    }

    .input-field {
        width: 100%;
     }

    .notification-methods {
        width: 100%;
    }
  }