<div class="scheduler-container">
    <div>
        <h1 style="text-align: center;">
            Client Notification
        </h1>
        <form class="schedule-form" [formGroup]="scheduleFormGroup" (ngSubmit)="onSubmit()">
            <section>
                <header>
                    <h1>
                        Client Information
                    </h1>
                </header>
                <div class="input-div" >
                    <mat-form-field class="input-field" >
                        <mat-label>Client</mat-label>
                        <mat-select formControlName="client"> 
                            <mat-option *ngFor="let client of (clients$ | async )" [value]="client.id">
                              {{client.firstName}} {{client.lastName}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>

                </div>
            </section>
          
            <section>
                <header>
                    <h1>
                        Notification Setup
                    </h1>
                </header>
                <div class="input-div">
                        <mat-form-field class="input-field">
                                <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>
                    <mat-form-field class="input-field">
                        <input matInput type="time" matTooltip="06:00PM" formControlName="time">
                      </mat-form-field>
                    <div class="notification-methods">
                        <mat-checkbox formControlName="deliverByPhone" >Phone</mat-checkbox>
                        <mat-checkbox formControlName="deliverByEmail" >Email</mat-checkbox>
                    </div>
                </div>
            </section>

            <div class="input-div submit">
                <button mat-raised-button color="primary" >Create
                    
                </button>

            </div>


        </form>
    </div>
</div>