/* You can add global styles to this file, and also import other style files */
@import '~@aws-amplify/ui-angular/theme.css';

:root {
    --footer-h: 85px;
    --header-h: 85px;
    font-family: 'Arvo', serif !important; 
  }
  

body { margin: 0;}

@media (max-width: 426px) {
 body {
  position: absolute;
 }
 footer {
  position: relative !important;
  width: 100% !important;
  display: flex;
 }
}